ul,ol{
    /* font-size: 30px; */
    /* width: 250px; */
    border-radius: 10px;
    padding: 0px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
li{
    margin: 10px 0px 20px 0px;
    background-color: antiquewhite;
    color: black;
    list-style-position: inside;
    padding-left: 30px;
    font-size: 30px;
}

body{
    background-color: lightcyan;
}

.fake_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 15px;
}

h1{
    color: darkolivegreen;
    font-size: 60px;
    padding: 30px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    color: darkslategray;
    padding: 30px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fruits{
    background-color: olive;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px black;
}

.vegetables{
    background-color: olivedrab;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px black;
}
.groceries{
    background-color: burlywood;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px black;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 