ul,ol{
    /* font-size: 30px; */
    /* width: 250px; */
    border-radius: 10px;
    padding: 0px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
li{
    margin: 5px 0px 20px 0px;
    background-color: #FFF8DC;
    color: #333333;
    list-style-position: inside;
    padding-left: 30px;
    font-size: 30px;
}

body{
    background-color:  #F5F5DC;
}

.fake_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 15px;
}

h1{
    color: #4A3B31;
    font-size: 60px;
    padding: 30px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    color: #FFF8DC;
    padding: 30px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fruits{
    background-color: #A0522D;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.vegetables{
    background-color: #D2691E;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);;
    border-radius: 10px;
}
.groceries{
    background-color: #8B4513;
    margin: 50px;
    height: 60vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 