*{
    margin: 0px;
    padding: 0px;
}

.card{
    height: 350px;
    width: 300px;
    background-color: teal;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
}

.card button{
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: brown;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* , => grouping
> child 
' ' => drcendent */