* {
    margin: 0;
    padding: 0;
}

.box {
    height: 100%;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    flex-shrink: 0;
}

.first {
    background: red;
}

.second {
    background: skyblue;
}

.third {
    background: lime;
}

.fourth {
    background: yellow;
}

.fifth {
    background: brown;
}

.sixth {
    background: gray;
}

.seventh {
    background: aquamarine;
}

.eighth {
    background: firebrick;
}

.ninth {
    background: darkviolet;
}

.tenth {
    background: teal;
}

.eleventh {
    background: olive;
}

.twelfth {
    background: navy;
}

.thirteenth {
    background: maroon;
}

.fourteenth {
    background: indigo;
}

.fifteenth {
    background: hotpink;
}

.sixteenth {
    background: cornflowerblue;
}

.seventeenth {
    background: darkgreen;
}

.eighteenth {
    background: sienna;
}

.nineteenth {
    background: orchid;
}

.twentieth {
    background: darkgoldenrod;
}

#sticky-content {
    height: 200px;
    width: 100vw;
    padding: 40px 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transform: translate(0, 150px);
}

#first-sticky-navbar {
    height: 200px;
    width: 50px;
    background: #3d0083;
    color: white;
    padding: 0px 20px;
    margin: 5px 10px;
    position: sticky;
    left: 5px;
    top: 5px;
    flex-shrink: 0;
}

#second-sticky-navbar {
    height: 200px;
    width: 50px;
    background: #3d0083;
    color: white;
    padding: 0px 20px;
    margin: 5px 10px;
    position: sticky;
    right: 5px;
    top: 5px;
    flex-shrink: 0;
}